* {
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}

/* ! — — — — — PARALLAX — — — — — ! */

.section-block.featured-media.tm-slider-parallax-container.background-cover {
	background: #eeeeee cover;
	min-height: 680px;
}

.section-block.featured-media.tm-slider-parallax-container.background-cover .container {
	width: 102%;
	height: auto;
	margin: -5% -1% 0 -1%;
	vertical-align: middle;
	padding: 0;
}

.tm-slider-container.full-width-slider.show-on-hover {
	opacity: 1!important;
}

/* ! — — — — — HEADERS — — — — — ! */

/*
.logo-inner {
	display: none!important;
}
*/

.logo-inner a {
	background: transparent!important;
	width: 200px!important;
	color: #1e1e1e!important;
	font-family: "brandon-grotesque", helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

/*
.logo-inner a:hover {
	background: transparent!important;
	color: transparent!important;
}
*/

.logo {
	width: 200px!important;
	z-index: 99999!important;
}

.logo-inner a:nth-of-type(2) {
	background: blue;
}

/*
.logo.no-transition {
	display: none!important; 
}

.logo.transition {
	display: none!important; 
}
*/

.icon-menu {
	color: #1e1e1e!important;
}


/* ! — — — — — SIDEBAR NAV — — — — — ! */

.side-navigation-inner {
	background: #615e5f!important;
}

.icon-cancel {
	color: white!important;
}

.icon-cancel:hover {
	color: #33363a!important;
}

.side-navigation > ul > li > a {
	color: white!important;
}

.side-navigation > ul > li > a:hover {
	color: #33363a!important;
}

.side-navigation.center li {
	padding: 20px 0!important;
}

.side-navigation.center li:nth-of-type(1) {
	padding-top: 50px!important;
}





.grid-filter-menu ul li {
	font-family:"brandon-grotesque", helvetica, sans-serif;
	font-size: 11px!important;
	letter-spacing: 1.3px;
}

.grid-filter-menu ul li:first-child {
	letter-spacing: 0.8px!important;
	font-weight: 900!important;
	margin-right: 15px;
}

/*
.section-block.featured-media {
	background: #f8caca!important;
}

.section-block.grid-filter-menu {
	background: #eeeeee!important;
}

.section-block.grid-container {
	background: #eeeeee!important;
}
*/

.project-title {
	font-family: "brandon-grotesque"!important;
	font-size: 20px!important;
	padding-bottom: 16px!important;
}





.map-container {
	opacity: 0.9!important;
}

.page-contact .logo a:nth-of-type (2) {
	display: none!important;
}
